#WinModal .modal-content {
    background-color: #1A9734;
    color: #fff;
    font-size: 2rem;
    border-radius: 15px;
  }
 
  #WinModal .modal-header {
    background-color: #0D6E3F;
  }
 
  #WinModal .modal-title {
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem;
  }
 
  #WinModal .win-message {
    font-size: 3rem;
    font-weight: bold;
    color: #FFDC00;
  }
 
  #WinModal .btnShadow {
    background-color: #28A745;
    color: #ffffff;
    font-size: 1.50rem;
    font-weight: bold;
    box-shadow: 5px 5px #218838;
    border-radius: 10px;
  }
 
  #WinModal .btnShadow:hover {
    color: #218838;
    background-color: #ffffff;
    box-shadow: 5px 5px #28A745;
  }